<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta charset="utf-8">
 <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head><div class="body2"><br><div class="body3">
<body>
  <img src="../photo/bread9.jpeg" width="670" height="450">
  <h1>管理者用ページ</h1>
 <?php if($loginOk === true){ ?>
	<div>ようこそ！ <?= $userName ?> </div>
    <?php } ?>
    <a href="adminitem.php">商品管理</a>
    <br>
    <a href="admincustomer.php">会員管理</a>
    <br>
    <a href="adminorder.php">注文管理</a>
    <br>
    <a href="logout.php">ログアウト</a>
    <br />
    <br />
</body></div></div>
</html>