<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta charset="utf-8">
  <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head><div class="body2"><br><div class="body3">
	<body>
    <h2>注文検索</h2>
	<form action="adminorder.php" method="post">
	<table class="searchTbl">
		<tr>
			<th>注文番号</th>
			<td><input type="text" name="keyword" value="<?= $nKeyword ?>" /></td>
		</tr>
		<tr>
			<th>会員名</th>
			<td><input type="text" name="keyword2" value="<?= $nKeyword2 ?>" /></td>
		</tr>

	</table>
	<div class="btnArea">
		<input type="submit" value="検索" />
	</div>
	</form>
	<br />
    

	<h2>注文一覧</h2>
	<table class="resultTbl">
	<tr>
        <th>注文番号</th>
        <th>会員名</th>
		<th>商品名</th>
		<th>数量</th>
		<th>価格</th>
        <th>注文時間</th>
        <th></th>
	</tr>
	<?php foreach ($arrdate as $data){ ?>
	<tr>
		<td><?php print $data['order_id']; ?></td>
        <td><?php print $data['last_name']; ?><?php print $data['first_name']; ?></td>
        <td><?php print $data['item_name']; ?></td>
        <td><?php print $data['item_num']; ?></td>
        <td><?php print number_format($data['sales_price']); ?>円</td>
        <td><?php print $data['order_date']; ?></td>
        <td>

            <form action="adminorderdelete.php" method="POST">
                <input type="hidden" name="order_id" value="<?php print $data['order_id']; ?>">
                <input type="submit" value="削除">
            </form>

            </td>
		<?php } ?>
	</tr>
    </table>
    
   
    <a href="admin.php">トップページへ戻る</a><br />
    

    <br />

</body></div></div>
</html>