<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head><div class="body2"><br><div class="body3">
	<body>

    <h2>会員情報</h2>

    <p>登録しました。</p>
    <a href="admincustomer.php">会員管理へ戻る</a><br />
    <a href="admin.php">トップページへ戻る</a><br />
    <br />
    <br />
    <br />

</body></div></div>
</html>
