<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta charset="utf-8">
  <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../common/css/main.css" rel="stylesheet" type="text/css">
  
</head><div class="body2"><br><div class="body3">
<body>

    <a>1.Webユーザビリティ、参考にしたオンラインショップの特長、売れることの関連性について500 文字以内で解説。</a><br/>
    <br />
    <a>参考にしたオンラインショップの特徴として、トップページのシンプルなデザインとわかりやすい文字情報によって、ユーザが見てすぐに
        webサイトが扱えるようになっていることが一つのユーザビリティであると感じる。これにより、ユーザの欲しい情報がすぐに提供できると、
        多くのユーザは最終的に商品を買うことができるため、売り上げにつながると考える。また、商品を多く
        取り扱うオンラインショップでは、一つのページで多くの商品情報を見せることによって、様々な商品に興味を持たせることができるため、
        目的の商品以外にもプラスで商品を多く購入する確率が高くなると考える。さらに、カテゴリを詳細に分けることによって、ユーザが自分の
        欲しい商品を簡単に見つけられることも、最後まで商品を買わせることのできる工夫であり、ユーザビリティの一つであると考える。
        逆に、商品の取り扱いが少ないオンラインショップは、デザインによって一つの商品をより際立たせることで、ユーザに興味を持たせることが
        できると考える。どのサイトも一つの商品詳細ページに、別の商品を小さく載せることでユーザに一つでも多くの商品を買ってもらうような
        工夫がみられる。</a><br />
    <br />
    
    <a>2.上記の分析により、自分のオンラインショップに取り入れた特長とターゲット層について 500 文字以内で解説。</a><br/>
    <br />
    <a>シンプルなデザインとわかりやすい文字情報を提供できるようにWebサイトを作成した。できるだけ、細かいページ設計にし、
        ユーザが目的のページをすぐに見つけられようにした。さらに、文章も簡潔にわかりやすい文章にすることで、ユーザが何のページなのか、
        新規会員登録では何が間違えているのかなどがすぐにわかるようにした。また、カテゴリも菓子パン、主食パン、総菜パンの三つに分けることで
        より詳細な情報をユーザに提供している。また、見やすいデザインとして余白や文字の大きさなど細かい部分にこだわった。商品数が多くはないため、
        一つのページでなるべく多くの商品が見れることと、デザインによって商品を際立たせるようにした。ターゲット層として、10代から30代までを設定している。
        理由としては、パンを食べるのは若い世代であり、さらに若い世代にパンが人気であるため、今回若年層を設定した。デザインのテーマをスタイリッシュなものとし、
        デザイン性を高めることで若年層に受け入れられるデザインを作成した。</a><br />
    <br />
    <a>3.取り扱う商品と選んだ理由について 500 文字以内で解説。</a><br/>
    <br />
    <a>今回自身のオンラインショップではパンを販売している。パンを選んだ理由としては、自身がパン好きであるということが大きな理由の一つである。実際にパン屋に行くことが好きで、
        よくパン屋に足を運んでいるがこの授業で参考となるWebサイトを探していた時に、オンラインショップのパン屋を見つけ、パンもオンラインで売る需要があることを知り、
        今回パンを売るオンラインショップを作成することにした。石川県には、多くのパン屋があるが、あまり石川県産にこだわっているパン屋を見かけないというのも
        一つの理由として挙げられる。取り扱う商品として、現在では、高級志向の食パンの需要が高まっている。そのため、自身のオンラインショップでは、二斤で1000円の価格設定で
        高級な食パンを取り扱っている。さらに、石川県にこだわるパン屋という設定で、石川県でとれた野菜やベーコン、生ハム等で作ったパンも取り扱っている。食パンも石川県でとれた
        小麦や牛乳を使っている。そのため、価格帯が少し高いパン屋にはなっているが、高級路線のパン屋という設定を取り入れた。</a><br/>
    <br />
    <br />
    <a href="index.php">トップページへ戻る</a><br />
<br />
<br />
</body></div></div>
</html>