<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head><div class="body2"><br><div class="body3">
<body>
    <img src="../photo/bread7.jpeg" width="670" height="450">
    <h1>メンバーの登録</h1>
    <h2>メンバー情報</h2>

    <p>登録しました。</p>
    <br />
    <p3><a href="index.php">トップへ戻る</a><br /></p3>
<br />
<br />
</body></div></div>
</html>
