<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
	<meta charset="utf-8">
	<link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head><div class="body2"><br><div class="body3">
<body>
	<img src="../photo/bread4.jpeg" width="670" height="450">
	<h1>ログアウト</h1>
  
	<div>ログアウトしました。</div>
	<br />
	<div>
		<p3><a href="index.php">トップへ戻る</a></p3>
	</div>
<br />
<br />
</body></div></div>
</html>
