<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta charset="utf-8">
  <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head><div class="body2"><br><div class="body3">
	<body>
		<img src="../photo/bread5.jpeg" width="670" height="450">
  <h1>購入完了</h1>
	<?php if($loginOk === true){ ?>
		<p5><div>いらっしゃいませ。 <?= $userName ?> 様</div></p5>
	<?php } ?>
	<div>
		<p1><a href="index1.php">商品一覧へ</a></p1>
		<p3><a href="logout.php">ログアウト</a></p3>
		<p2><a href="index.php">トップへ戻る</a></p2>
	</div>

	<div>ありがとうございます。商品到着までお待ちください。</div>

	<br />
	<br />
	<div>

	</div>

</body></div></div>
</html>